body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.l-header {
    background-color: #3b71d6;
    padding:8px 50px;
}

.nav-border{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-weight: 700;
    font-size: 20px;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.nav-list li{
    display: inline;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

.nav-item a:hover{
    color:#fbff25;
}

/*BAGIAN BODY*/

.home {
    padding: 5px 50px;
}

.home-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.home-img{
    width: 25%;
    height: auto;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.home-tittle {
    max-width: 50%;
}

